* {
    box-sizing: border-box;
    font-weight: 400;
}

h1{
    font-weight: 400;
    font-size: 40px;  
}

h2 {
    font-size: 30px;
}

.colors, .fonts, .text {
    display: block;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

/* Colors Section */

.green, .blue, .purple, .orange {
    display:inline-block;
    border: 2px solid black;
    padding: 15px;
    text-align:center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.green {
    background-color: #0ec509;
}

.blue {
    background-color:#096CC5;
}

.purple {
    background-color: #C009C5;
}

.orange {
    background-color: #C56209;
}

/* Fonts Section */

.dotgothic h3, .notosans h3, .notoserif h3 {
    text-decoration: underline;
}

h4.bold {
    font-weight: 900;
}
.dotgothic {
    font-family: 'DotGothic16', sans-serif;
}

.notosans {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.notoserif {
    font-family: 'Noto Serif JP', serif;
}

/* Text Styles */

.list {
    display: inline-block;
    text-align: left;
}

.heading {
    font-family: 'DotGothic16', sans-serif;
}